.cabecalho{
    background-color: var(--cor-backgrouud--header);
    padding: 5em 3em 1em;
    height: 29.68em;
}
.texto{
    padding: 8em 1em 2em;
    margin: 3em 1em 0 1em;
    font-family: var(--fonte-pag);
    color: var(--cor-fonte);
}
.titulo{
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    margin: 0  0 0.4em 0;
 
}
.descricao{
    font-size: 20px;;
    font-weight: 500;
    line-height: 28px;
    margin: 0.6em;
}
